.vs/ProjectSettings.json
raccourcis/ctrl_x.md
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/RaccourcisVSCode/FileContentIndex/29f0e1d9-6ba5-4a1b-9987-a8afb8fe1a15.vsidx
.vs/RaccourcisVSCode/FileContentIndex/read.lock
.vs/RaccourcisVSCode/v17/.wsuo
